<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="dinamic-header">
    <div class="container-fluid">
        <div class="title-container">
            <h1 class="title">POKÉDEX</h1>
            
        </div>
    </div>
</head>
<body>
    
</body>
</html>